*{
    font-family: 'Orbitron', sans-serif;
}
*:hover{
    cursor: context-menu;
}
body{
    background-color: whitesmoke;
}

#topSquare{
    width: 700px;
    height: 65px;
    margin-bottom: 9px;
}
.arrow{
    width: 10%;
    height: 100%;
    margin-left: 3%;
    /* color: red; */
    opacity: 0.5;
    display: inline-block;
    -webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
.arrow:hover{
    opacity: 1;
    cursor: pointer;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-20px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-20px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-20px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-15px);}
}
#square{
    width: 700px;
    height: 500px;
    background-color: #0084CE;
    display: inline-block;
    padding-bottom: 1%;
}
#scoreBoard{
    display: inline-block;
    width: 300px;
    height: 230px;
    /* background-color: #87b4de; */
    background-color: #0084CE;
    float: right;
    position: relative;
    box-shadow: -18px 17px 19px -8px rgba(0,0,0,0.75);
}

#scoreBoard > h2 {
    color: whitesmoke;
    text-align: center;
    margin-top: 0%;
    padding-top: 2%;
    background-color: #00000031;
}
#scoreBoard > div > span  {
    width: 49%;
    color: whitesmoke;
    text-align: center;
    display: inline-block;
    font-size: 35px;
}
#scoreBoard > div > .number  {
    font-size: 55px;
    font-weight: bolder;
}
#numberYellow{
    color:#dada03!important
}
#numberRed{
    color: #e20101!important
}
#scoreBoard > #retartButton {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight: 900;
    color: whitesmoke;
    background-color: #e24848;
    text-align: center;
    font-size: 30px;
}
#scoreBoard > #retartButton:hover {
    cursor: pointer;
}

.circle{
    background-color: whitesmoke;
    width: 10%;
    height: 100%;
    border-radius: 50px;
    display: inline-block;
    margin-left: 3%;
    box-shadow: inset 13px 13px 15px -10px rgba(0,0,0,0.75);
}
.falseCircle{
    background-color: whitesmoke;;
    width: 10%;
    height: 100%;
    border-radius: 50px;
    display: inline-block;
    margin-left: 3%;
    /* box-shadow: inset 13px 13px 15px -10px rgba(0,0,0,0.75); */
}
.file{
    height: 14%;
    width: 100%;
    margin-top: 2%;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
#overmsg{
    display: inline-block;
    background-color: rgb(228, 228, 228);
    position: absolute;
    top: 40%;
    left: 40%;
    width: 30%;
    height: 30%;
    text-align: center;
    z-index: 200;
}
#overmsg > h2{
    font-size: 280%;
    margin-top: 1%;
}
#overmsg > p{
    font-size: 220%;
    margin-top: 1%;
}
#overmsg > p > span{
    font-size: 280%;
}
#overmsg > div{
    width: 100%;
    position: absolute;
    bottom: 0;
    font-weight: 900;
    color: whitesmoke;
    background-color: #027202;
    text-align: center;
    font-size: 30px;
}
#overmsg > div:hover{
    cursor: pointer;
    background-color: rgb(3, 189, 3);
}
#smokeScreen{
    width: 100%;
    min-height: 100%;
    height: auto !important;
    position: fixed;
    top:0; 
    left:0;
    background-color: rgba(0, 0, 0, 0.425);
    z-index: 100;
}